# autosave.halscope
# build-stamp
# lib
# share
*.pyc
*.o
*.ko
*.lo
*.la
*.so
*.so.*
*.a
*.d
*.pdf
*.tex
*.mod.c
*.cmd
.tmp*
*.log

*~
*.swp

Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
wou.pc
autom4te.cache/*
m4/*
*.deps*
*.libs*
tests/wou-unit-test-axis
tests/wou-unit-test-gpio
tests/wou-unit-test-jcmd
tests/wou-unit-test-bp_reg_update
tests/wou-unit-test-home_pos
tests/wou-unit-test-ustep
debian/*
.cproject
.project
