Source: libwosi
Priority: extra
Maintainer: Yi-Shin Li <ysli@araisrobo.com>
Build-Depends:  debhelper (>= 7), autotools-dev, build-essential, autoconf,
                automake, libtool, pkg-config (>= 0.18)
Standards-Version: 3.8.1
Section: libs
Homepage: http://www.araisrobo.com/

Package: libwosi-dev
Section: libdevel
Architecture: any
Depends: libwosi (= ${binary:Version})
Description: Development files for libwosi
 To pack WOSI(Wishbone Over Serial Interface) packets into WOSI frames

Package: libwosi
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to pack WOSI(Wishbone Over Serial Interface) packets
 To pack WOSI(Wishbone Over Serial Interface) packets into WOSI frames
