Source: libwou
Priority: extra
Maintainer: Yi-Shin Li <ysli@araisrobo.com>
Build-Depends:  debhelper (>= 7), autotools-dev, build-essential, autoconf,
                automake, libtool, pkg-config (>= 0.18), libusb-1.0-0-dev,
                libftdi-1.0-dev
Standards-Version: 3.8.1
Section: libs
Homepage: http://www.araisrobo.com/

Package: libwou-dev
Section: libdevel
Architecture: any
Depends: libwou (= ${binary:Version}), libusb-1.0-0-dev, libftdi-1.0-dev
Description: Development files for libwou
 To pack WOU(Wishbone Over USB) packets into WOU frames

Package: libwou
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0, libftdi-1.0
Description: Library to pack WOU(Wishbone Over USB) packets
 To pack WOU(Wishbone Over USB) packets into WOU frames
